---
layout: default
permalink: /experiences/
---

<div class="compact-view">

    {% for post in site.experiences %}

        <a href="{{ post.url }}" class="experience col-sm-3 {{ post.categories }}">
            <div class="content-area">
                <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
                <p class="title">{{ post.title }}</p>
                <p class="author">{{ post.author }}</p>
                <p class="category">
                    {% for category in post.categories %}
                    <span>{{ category }}</span>
                    {% endfor %}
                </p>
            </div>
        </a>

    {% endfor %}

</div>
