---
title: Lower Leg
date: 2020-01-01
---


<div class="category-index">

    {% for post in site.experiences %}
        {% if post.categories contains 'lower-leg' %}
            {% for category in post.categories %}
                <p>
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    <span> by {{ post.author }} ({{ post.date | date: "%b %-d, %Y" }})</span>
                </p>
            {% endfor %}
        {% endif %}
    {% endfor %}

</div>
