/**
 * Site header
 */

.injury-form-link {
    text-decoration: none !important;
}

.injury-form-button {
    display: inline-block;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-size: 50px;
    border: 2px solid white;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    margin: 15px;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
    span {
        display: block;
        line-height: 1;
        position: relative;
        left: -2px;
    }
    &:after {
        content: '< Injury form';
        font-size: 11px;
        opacity: 0.75;
        text-align: left;
        width: 85px;
        position: absolute;
        left: 70px;
        top: 20px;
        line-height: 1.125;
        @include media-query($on-palm) {
            content: 'Injury form';
            left: 0;
            top: 65px;
        }
    }
}

.injury-form-text {
    color: white;
    display: inline-block;
    font-size: 11px;
    line-height: 1.25;
    margin: 40px auto;
}

.site-header {
    min-height: 56px;
    background: #1b75bc;
    color: #ffffff;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.title-area {
    float: left;
    margin: 0 auto;
    padding: 10px 15px;
    text-decoration: none !important;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    &:hover {
        opacity: 0.7;
    }
}

.site-title, .site-description {
    color: #ffffff;
    display: block;
}

.site-title {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.site-description {
}

.site-nav {
    margin-top: $spacing-unit;
    text-align: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #ffffff;
        padding: 10px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 10px;
        }
        &:hover {
            background: darken($link-color, 15%);
            text-decoration: none;
        }
    }

    @include media-query($on-palm) {
        text-align: left;
        background: darken(#1b75bc, 5%);
        @include clearfix;
        clear: both;

        .page-link {
            border: none;
        }
    }
}

.experience-page {
    h3 {
        font-weight: 100;
    }
}

.home-title {
    font-size: 24px;
    color: grey;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
}

.home-section {
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit;
    &.categories {
        border-bottom: 1px dotted lightgray;
        ul{
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            li {
                list-style-type: none;
                display: inline-block;
                margin: 0 $spacing-unit * 0.5;
                font-size: 21px;
                height: 100px;
                width: 100px;
                vertical-align: middle;
                border-radius: 2px;
                @include media-query($on-palm) {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
        a {
            padding: $spacing-unit * 0.25 $spacing-unit * 0.5;
            display: block;
            line-height: 1;
            margin-top: 30px;
        }
    }
    .see-more {
        float: right;
        font-size: 18px;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    .row {
        padding-bottom: $spacing-unit;
    }

    .content-area {
        background: #f7f7f7;
        padding: 5px $spacing-unit * 0.5 $spacing-unit * 0.75;

        p {
            margin: 0;
        }

        section {
            padding-top: 20px;
        }
        
        ul {
            margin-left: 18px;
            margin-bottom: 0;
        }
    }
}

.tag-box {
    margin-bottom: $spacing-unit;
    p {
        margin-left: $spacing-unit;
    }
}

[class*="lower"] {
    .category-header {
        background-color: #662d91;
    }
    .tag, .post-link {
        color: #662d91;
    }
}
[class*="foot"] {
    .category-header {
        background-color: #1b75bc;
    }
    .tag, .post-link {
        color: #1b75bc;
    }
}
[class*="thigh"] {
    .category-header {
        background-color: #f7931e;
    }
    .tag, .post-link {
        color: #f7931e;
    }
}
[class*="knee"] {
    .category-header {
        background-color: #009245;
    }
    .tag, .post-link {
        color: #009245;
    }
}
[class*="hip"] {
    .category-header {
        background-color: #da3f61;
    }
    .tag, .post-link {
        color: #da3f61;
    }
}

.home-section.categories {
    li a {
        color: #ffffff;
        &:hover {
            text-decoration: none;
        }
    }
    [class*="lower"] {
       background-color: #662d91;
        &:hover {
            background-color: darken(#662d91, 15%);
        }
        a {
            margin-top: 20px;
        }
    }
    [class*="foot"] {
       background-color: #1b75bc;
        &:hover {
            background-color: darken(#1b75bc, 15%);
        }
    }
    [class*="thigh"] {
       background-color: #f7931e;
        &:hover {
            background-color: darken(#f7931e, 15%);
        }
    }
    [class*="knee"] {
       background-color: #009245;
        &:hover {
            background-color: darken(#009245, 15%);
        }
    }
    [class*="hip"] {
       background-color: #da3f61;
        &:hover {
            background-color: darken(#da3f61, 15%);
        }
    }
}

.category-header {
    padding: $spacing-unit * 0.5;
    h4 {
        text-transform: capitalize;
        margin: 0;
        line-height: 1;
        display: inline-block;
        cursor: pointer;
        &, a {
            color: #ffffff;
        }
        @extend .commas;
    }
}

.background, .tags {
    font-size: 13px;
}

.background, .post-meta {
    width: 100%;
    table-layout: fixed;
    th, td {
        text-align: center;
        color: $grey-color;
        line-height: 1;
    }
    .author {
        text-align: left;
    }
    .date {
        text-align: right;
    }
}

.post-meta {
    margin-top: 10px;
}

.tags {
    .tag {
        display: inline-block;
        white-space: nowrap;
        &:after {
            content: ', ';
        }
        &:last-child:after {
            content: '';
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
